<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <setting propertyKey="@Properties.Stat" title="@Strings.StatTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.StatSteps</listEntry>
            <listEntry value="1">@Strings.StatHeartRate</listEntry>
            <listEntry value="2">@Strings.StatCalories</listEntry>
        </settingConfig>
    </setting>
</settings>
